.container{
    display: flex;
    flex-direction: column;
    height: 96vh;
    width: 100%;
    
    align-items: center;
}

.image{
    height: 50%;
}

.rightHero{
    box-sizing: border-box;
    border: 1px solid white;
    width: 60rem;
    height: 25rem;
}

.title{
    font-size: 1.5rem;
    margin-left: 2rem;
    margin-top: 2rem;
    text-transform: uppercase;
}

.subtitle{
    font-size: 4rem;
    margin-left: 2rem;
    font-family: "Playfair Display", serif;
    font-weight: bold;
}

.text{
    font-size: 2rem;
    margin-left: 2rem;
    font-family: "Playfair Display", serif;
}

.arrow{
    margin-top: 2rem;
}

.content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 90%;
    width: 100%;
}
