.projects{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.containerStatusBar{
    display: flex;
    width: 100%;
    height: 6em;
    align-items: center;
    text-align: center;
    border: 1px solid white;
}

.titleContainer{
    box-sizing: border-box;
    border-right: 1px solid white;
    width: 35%;
    height: 100%;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    margin-left: 4rem;
    margin-top: 0;
    margin-bottom: 0;
}

.projectsContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    height: 80%;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    margin-top: 8em;
    margin-bottom: 8em;
}

.project{
    display: flex;
    border: 1px solid white;
    width: 70%;
    height: 16rem;
}

.projectInfo{
    border-left: 1px solid white;
}

.imageContent{
    width: 40%;
    height: 100%
}

.projectTitle{
    margin-left: 1rem;
    font-size: 3rem;
    font-family: "Work Sans", serif;
}

.projectDescription{
    margin-left: 1rem;
    font-size: 1.2rem;
    font-family: "Work Sans", serif;
}