.tecnologies{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.containerStatusBar{
    display: flex;
    width: 100%;
    height: 6em;
    align-items: center;
    text-align: center;
    border: 1px solid white;
}

.titleContainer{
    box-sizing: border-box;
    border-right: 1px solid white;
    width: 35%;
    height: 100%;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    margin-left: 4rem;
    margin-top: 0;
    margin-bottom: 0;
}

.projectsContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    height: 80%;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.project{
    display: flex;
    border: 1px solid white;
    width: 70%;
    height: 35%;
    justify-content: space-between;
}

.projectTwo{
    display: flex;
    flex-direction: row-reverse;
    border: 1px solid white;
    width: 70%;
    height: 35%;
    justify-content: space-between;
}



.projectInfo{
    border-left: 1px solid white;
    width: 70%;
}

.imageContent{
    width: 10%;
    height: 100%;
    border-left: 1px solid white;
    justify-content: center;
    align-items: center;
    display: flex;
}

.imageContentTwo{
    width: 10%;
    height: 100%;
    border-left: 1px solid white;
    justify-content: center;
    align-items: center;
    display: flex;
}

.technologyTitle{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 3rem;
    font-family: "Work Sans", serif;
}

.technologyTitleTwo{
    writing-mode: vertical-lr;
    font-size: 3rem;
    font-family: "Work Sans", serif;
}

.figureContainer{
    height: 100%;
    width: 20%;
    border-right: 1px solid white;
    border-left: 1px solid white;
    justify-content: center;
    align-items: center;
    display: flex;
}

.square{
    width: 40%;
    height: 40%;
    background-color: white;
    transform: rotate(45deg);
}

.circle{
    width: 40%;
    height: 40%;
    background-color: white;
    border-radius: 50%;
}

.technologiesList{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 60%;
    height: 60%;
    font-family: "Work Sans", serif;
    font-size: 1.5rem;
}